/* 모든 태그의 공통 속성 정의 */
* {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: inherit;
    line-height: inherit;
    text-align: center;
    text-decoration: none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

html, body {
    height: 100%;
}

.empty-div {
    width: 0;
    height: 0;
}

.wrapper {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.bg-base {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg-load {
    background-image: url('../img/bgLoad.png');
}

.bg-notice {
    background-image: url('../img/bgNotice.png');
}

.bg-mode {
    background-image: url('../img/bgMode.png');
}

.bg-room {
    background-image: url('../img/bgNotice.png');
}

.bg-shop {
    background-image: url('../img/bgNotice.png');
}

.bg-over {
    background-image: url('../img/bgOver.png');
}

.map-castle {
    background-image: url('../img/mapCastle.png');
}

.map-desert {
    background-image: url('../img/mapDesert.png');
}

.map-extinction {
    background-image: url('../img/mapExtinction.png');
}

.map-forest {
    background-image: url('../img/mapForest.png');
}

.map-night {
    background-image: url('../img/mapNight.png');
}

.map-ruinedcity {
    background-image: url('../img/mapRuinedCity.png');
}

.map-sky {
    background-image: url('../img/mapSky.png');
}

.map-dot {
    width: 0.5%;
    height: 0.5%;
}

.wind-castle {
    background-image: url('../img/windCastle.png');
}

.wind-desert {
    background-image: url('../img/windDesert.png');
}

.wind-extinction {
    background-image: url('../img/windExtinction.png');
}

.wind-forest {
    background-image: url('../img/windForest.png');
}

.wind-night {
    background-image: url('../img/windNight.png');
}

.wind-ruinedcity {
    background-image: url('../img/windRuinedCity.png');
}

.wind-sky {
    background-image: url('../img/windSky.png');
}

.tank-random {
    background-image: url('../img/tankRandom.png');
}

.tank-cannon {
    width: 50px;
    height: 40px;
    background-image: url('../img/tankCannonPlay.png');
}

.tank-duke {
    width: 60px;
    height: 36px;
    background-image: url('../img/tankDukePlay.png');
}

.tank-missile {
    width: 50px;
    height: 50px;
    background-image: url('../img/tankMissilePlay.png');
}

.tank-octopus {
    width: 50px;
    height: 50px;
    background-image: url('../img/tankOctopusPlay.png');
}

.tank-star {
    width: 50px;
    height: 50px;
    background-image: url('../img/tankStarPlay.png');
}

.tank-cannon-dead {
    width: 50px;
    height: 30px;
    background-image: url('../img/tankCannonDead.png');
}

.tank-duke-dead {
    width: 60px;
    height: 25px;
    background-image: url('../img/tankDukeDead.png');
}

.tank-missile-dead {
    width: 50px;
    height: 40px;
    background-image: url('../img/tankMissileDead.png');
}

.tank-octopus-dead {
    width: 50px;
    height: 40px;
    background-image: url('../img/tankOctopusDead.png');
}

.tank-star-dead {
    width: 50px;
    height: 40px;
    background-image: url('../img/tankStarDead.png');
}

.bullet-cannon {
    width: 30px;
    height: 30px;
    background-image: url('../img/bulletCannon.png');
}

.bullet-duke {
    width: 40px;
    height: 12px;
    background-image: url('../img/bulletDuke.png');
}

.bullet-missile {
    width: 40px;
    height: 15px;
    background-image: url('../img/bulletMissile.png');
}

.bullet-octopus {
    width: 30px;
    height: 29px;
    background-image: url('../img/bulletOctopus.png');
}

.bullet-star {
    width: 30px;
    height: 28px;
    background-image: url('../img/bulletStar.png');
}

.spark-cannon {
    background-image: url('../img/sparkCannon.png');
}

.spark-duke {
    background-image: url('../img/sparkDuke.png');
}

.spark-missile {
    background-image: url('../img/sparkMissile.png');
}

.spark-octopus {
    background-image: url('../img/sparkOctopus.png');
}

.spark-star {
    background-image: url('../img/sparkStar.png');
}

.item-double {
    background-image: url('../img/itemDouble.png');
}

.item-power {
    background-image: url('../img/itemPower.png');
}

.item-lock {
    background-image: url('../img/itemLock.png');
}

.item-fix {
    background-image: url('../img/itemFix.png');
}

.item-preparing {
    /*background-image: url('../img/tankStarPlay.png');*/
}

.load-bar {
    width: 50%;
    height: 6%;
    bottom: 10%;
    left: 25%;
    position: absolute;
    background-color: white;
    border: solid;
    border-color: aquamarine;
    border-radius: 0.2em;
    z-index: 1000;
}

.prog-bar {
    width: 1%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: yellow;
}

.prog-val {
    position: absolute;
    width: 100%;
    height: 100%;
    color: dodgerblue;
    font-size: 50%;
    text-align: center;
}

.btn-container {
    width: 90%;
    height: 10%;
    bottom: 2%;
    left: 5%;
    position: absolute;
}

.btn-base {
    width: 15%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.btn-left {
    float: left;
    margin-right: 1%;
}

.btn-right {
    float: right;
    margin-left: 1%;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.btn-exit {
    background-image: url('../img/exit.png');
}

.btn-cancel {
    background-image: url('../img/cancel.png');
}

.btn-back {
    background-image: url('../img/back.png');
}

.btn-shop {
    background-image: url('../img/shop.png');
}

.btn-ok {
    background-image: url('../img/ok.png');
}

.btn-start {
    background-image: url('../img/start.png');
}

.btn-1p {
    background-image: url('../img/1p.png');
}

.btn-2p {
    background-image: url('../img/2p.png');
}

.board-img {
    background-image: url('../img/board.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.metal-blue {
    background-image: url('../img/metal.png');
    background-repeat: no-repeat;
    object-fit: cover;
}

.metal-silver {
    background-image: url('../img/metal1.png');
    background-repeat: no-repeat;
    object-fit: cover;
}

.box-panel {
    background-image: url('../img/box.png');
    background-repeat: no-repeat;
    object-fit: cover;
}

.board-vertical {
    background-image: url('../img/board2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

