.side-right, .side-left, .side-top, .side-bottom {
    position: absolute;
    background-color: yellow;
    opacity: 0.2;
    z-index: 2000;
}

.side-right {
    width: 4%;
    height: 88%;
    top: 6%;
    right: 0;
}

.side-left {
    width: 4%;
    height: 88%;
    top: 6%;
    left: 0;
}

.side-top {
    width: 92%;
    height: 6%;
    left: 4%;
    top: 0;
}

.side-bottom {
    width: 92%;
    height: 6%;
    left: 4%;
    bottom: 0;
}

.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-color: dodgerblue;
}

.map-base {
    width: 2100px;
    height: 1400px;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.look-left {
    transform: rotateY(180deg);
}

.look-right {
    transform: rotateY(0deg);
}

.status-window {
    width: inherit;
    height: 25%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.status-control {
    width: 20%;
    height: 25%;
    position: absolute;
    left: 40%;
    top: 0;
    z-index: 500;
}

.status-timer {
    width: 20%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    float: left;
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    line-height: 100%;
    background-image: url('../img/greyPanel.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.status-wind {
    width: 60%;
    height: 50%;
    display: inline-block;
    vertical-align: middle;
    float: left;
    background-image: url('../img/wind-panel.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.status-wind-gauge {
    height: 75%;
    top: 15%;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    background-color: aquamarine;
}

.status-wind-bar {
    width: 1%;
    height: 100%;
    position: absolute;
    left: 49.5%;
    background-color: black;
}

.status-player-container {
    width: 100%;
    height: 100%;
}

.status-player {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    float: left;
    background-image: url('../img/metal1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.status-side {
    width: 24%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.status-degree {
    width: 100%;
    height: 85%;
    display: inline-block;
    vertical-align: middle;
}

.status-degree-show {
    width: 100%;
    height: 15%;
    display: inline-block;
    vertical-align: middle;
    background-image: url('../img/wind-panel.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 100%;
    color: black;
}

.status-degree-canvas {
    width: 100%;
    height: 100%;
    background-image: url('../img/degree-panel.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.status-main {
    width: 74%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.status-gauge-box {
    width: 100%;
    height: 25%;
    padding: 1%;
    display: inline-block;
    vertical-align: middle;
}

.status-item {
    width: 8%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
}

.status-hp, .status-gauge-pw-box, .status-pw, .status-last-pw, .status-dt {
    width: 100%;
    height: 100%;
}

.status-hp {
    background-color: red;
}

.status-gauge-pw-box {
    padding: 1%;
}

.status-pw {
    position: absolute;
    left: 0;
    top: 0;
    background-color: yellow;
    z-index: 200;
}

.status-last-pw {
    position: absolute;
    left: 0;
    top: 0;
    background-color: saddlebrown;
}

.status-dt {
    background-color: blue;
}

.game-unit, .spark-unit, .turn-unit {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 200;
}

.turn-unit {
    width: 30px;
    height: 55px;
    background-image: url('../img/turn.png');
}

.wind-unit {
    width: 80px;
    height: 80px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 100;
}