.mode-container {
    width: 80%;
    height: 57%;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
}

.mode-base {
    width: 40%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.btn-single {
    background-image: url('../img/single.png');
}

.btn-multi {
    background-image: url('../img/multi.png');
}