.board-over {
    width: 60%;
    height: 60%;
    top: 20%;
    padding: 5%;
    margin: auto;
}

.over-title {
    width: 100%;
    height: 20%;
    padding: 2%;
    font-size: 3rem;
    font-weight: 600;
    color: saddlebrown;
}

.over-content {
    width: 100%;
    height: 80%;
    padding: 2%;
    font-size: 4rem;
    font-weight: 600;
    color: black;
}