.btn-player-container {
    width: 30%;
    height: 7%;
    top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.btn-player {
    width: 40%;
    height: 100%;
}

.player-container {
    width: 95%;
    height: 45%;
    top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.player-box {
    width: 45%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.tank-container {
    width: 100%;
    height: 75%;
    padding: 1%;
}

.tank-stats {
    width: 45%;
    height: 100%;
    padding-top: 5%;
    display: inline-block;
    vertical-align: middle;
    background-color: seagreen;
}

.stat-line {
    width: 100%;
    height: 20%;
    display: inline-block;
    vertical-align: middle;
}

.stat-title {
    width: 40%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.stat-name {
    width: 60%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.stat-bar {
    width: 0;
    height: 50%;
    display: inline-block;
    vertical-align: middle;
    background-color: dodgerblue;
}

#tank-1p-hp, #tank-1p-dm, #tank-1p-dt {
    right: 0;
}

#tank-2p-hp, #tank-2p-dm, #tank-2p-dt {
    left: 0;
}

.stat-1p {
    float: left;
}

.stat-2p {
    float: right;
}

.tank-img {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
}

.item-container {
    width: 100%;
    height: 25%;
    padding: 1%;
}

.item-box {
    width: 16%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: inline-block;
    vertical-align: middle;
}

.versus-box {
    width: 7%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    background-color: darkcyan;
}

.versus-txt {
    width: 100%;
    height: 20%;
    top: 10%;
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}

.versus-turn {
    width: 100%;
    height: 60%;
    top: 10%;
    display: inline-block;
    vertical-align: middle;
    font-size: 2em;
    font-weight: bold;
    white-space: pre-wrap;
}

.select-container {
    width: 95%;
    height: 30%;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.map-box {
    width: 40%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.map-preview {
    width: 80%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.btn-map {
    width: 10%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.btn-prev {
    float: left;
}

.btn-next {
    float: right;
}

.tank-box {
    width: 55%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.tank-ran-icon {
    width: 40%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
    float: left;
}

.tank-icon {
    width: 20%;
    height: 50%;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
    float: left;
}
