.shop-container{
    width: 90%;
    height: 60%;
    top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.item-container{
    width: 70%;
    height: 100%;
    padding: 5%;
    display: inline-block;
    vertical-align: middle;
}

.item-line{
    width: 100%;
    height: 25%;
    margin-bottom: 2%;
    display: inline-block;
    vertical-align: middle;
}

.item-box{
    width: 15%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.info-container{
    width: 25%;
    height: 100%;
    padding: 2.5%;
    display: inline-block;
    vertical-align: middle;
}

.info-box{
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.info-title{
    width: 100%;
    height: 15%;
    display: inline-block;
    vertical-align: middle;
    font-size: 2rem;
    font-weight: 600;
}

.info-detail{
    width: 100%;
    height: 80%;
    top: 5%;
    text-align: left;
    word-break: break-all;
    display: inline-block;
    vertical-align: middle;
}

.select-container{
    width: 63%;
    height: 15%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    top: 10%;
    left: 5%;
}

.select-line{
    width: 100%;
    height: 100%;
    left: 0;
}
